/* inspired form gumroad website */
button {
  --bg: #000;
  --hover-bg: #ff90e8;
  --hover-text: #000;
  color: #fff;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
}

button:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

button:active {
  transform: translate(0);
  box-shadow: none;
}

.item {
  padding: 20px;
  margin: 20px;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
}

.btnDelete{
  background-color: rgb(247, 40, 40);
}
.btnEdit{
  background-color: rgb(36, 99, 245);
}
.btnInfo{
  background-color: rgb(46, 138, 22);
}

.card{
  margin: 20px;
  padding: 20px;
  box-shadow: 0.1px 0.1px 5px rgb(169, 168, 168);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.actions{
  display: flex;
  gap: 10px;
  align-items: center;
}
button{
  border-radius: 20px;
}
.avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
}

.input {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 45px;
  padding-left: 2.5rem;
  box-shadow: 0 0 0 1.5px #2b2c37, 0 0 25px -17px #000;
  border: 0;
  border-radius: 12px;
  background-color: #7ea19ef0;
  outline: none;
  color: black;
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: text;
  z-index: 0;
}

.input::placeholder {
  color: black;
}

.input:hover {
  box-shadow: 0 0 0 2.5px #2f303d, 0px 0px 25px -15px #000;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  box-shadow: 0 0 0 2.5px #2f303d;
}

.search-icon {
  position: absolute;
  left: 1rem;
  fill: black;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  z-index: 1;
}
